@charset "UTF-8";
/* Estilos para todos los html */
* {
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
}

.moonlight {
  width: 100px;
  transition: all 2s;
  width: 100px;
}
.moonlight:hover {
  transition: all 2s;
  width: 125px;
}

nav a {
  text-decoration: none;
  color: black;
}

nav li {
  display: inline-block;
  background-color: white;
  text-align: left;
  width: 90px;
}
nav li:hover {
  background-color: rgb(154, 178, 244);
  transition: all 1s;
  width: 150px;
}

ul {
  list-style-type: none;
  font-family: "Quicksand-Regular";
  font-size: large;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 500px;
}

nav.navegation {
  width: 12%;
  grid-area: nav;
}

@font-face {
  font-family: "Quicksand-Regular";
  src: url(Fonts/Quicksand-Regular.ttf);
}
.direccion {
  margin: 15px 60px;
  font-size: 15px;
  color: white;
  font-family: "Quicksand-Regular";
}

.maps {
  border-radius: 10px;
  margin-left: 30px;
  margin-top: -10px;
}

.redes-sociales {
  margin: -280px 600px 0px 600px;
  font-size: 20px;
  color: white;
  font-family: "Quicksand-Regular";
  text-align: center;
}

.newsletter {
  margin: -180px 1180px;
  font-size: 15px;
  color: white;
  font-family: "Quicksand-Regular";
}

.copyright {
  margin: 220px 700px;
  font-size: 12px;
  color: white;
  font-family: "Quicksand-Regular";
}

/* Estilos del Index */
#fondo {
  background-image: url("MoonlightPhotography.gif");
  background-repeat: no-repeat;
  background-size: 50%;
  background-position-x: center;
}

.grid {
  display: grid;
  grid-template-areas: "nav nav nav" "nav nav nav" "nav nav nav" "footer footer footer";
  grid-template-columns: 1370px auto 15%;
  height: 100vh;
}

#footer {
  grid-area: footer;
  height: 410px;
  line-height: 50px;
  background: #3957b2;
  text-align: left;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  margin: 0px 0px -410px 0px;
}

/* Dimensión del Samsung Galaxy S20 Ultra para html index */
@media screen and (max-width: 412px) {
  nav a {
    display: flex;
    flex-direction: column;
    font-size: 25px;
    width: 500px;
    margin-left: -98px;
    align-items: center;
  }
  .navegation {
    display: block;
    height: -100px;
    margin-top: 200px;
  }
  #fondo {
    background-position: center;
    background-size: contain;
    margin-top: -50px;
  }
  #footer {
    display: flex;
    flex-direction: column;
    height: 930px;
    margin-bottom: -930px;
  }
  .direccion {
    text-align: center;
  }
  .maps {
    margin: 6px;
    margin-top: 0px;
  }
  .redes-sociales {
    margin: 7px;
  }
  .newsletter {
    margin: -25px;
    text-align: center;
  }
  .copyright {
    margin: 170px;
    color: #ffffff;
  }
}
/* Estilos de Fotografias */
#fondo-2, #fondo-4, #fondo-3, #fondo {
  background-color: #ffffff;
  margin: 50px;
}

nav.navegation-2 {
  width: 12%;
}

.bordes-redondeados {
  border-radius: 20px;
  border: 15px solid #3957b2;
}

.fotografías-1 {
  font-family: "Quicksand-Regular";
  font-size: 60px;
  display: flex;
  margin: -600px 550px 30px;
}

.albumes {
  display: flex;
  flex-direction: column;
  width: 700px;
  align-items: center;
  margin-left: 240px;
}

.foto {
  width: 30%;
  margin: 20px 0;
}

.foto-izq {
  align-self: flex-start;
}

.foto-der {
  align-self: flex-end;
}

.foto img {
  width: 400px;
  height: auto;
}

.titulos {
  font-family: "Quicksand-Regular";
  margin-left: 185px;
}

#footer-2 {
  height: 410px;
  line-height: 50px;
  background: #3957b2;
  text-align: left;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  margin: 0px 0px -1400px 0px;
}

/* Dimensión del Samsung Galaxy S20 Ultra en el html Fotografias */
@media screen and (max-width: 412px) {
  nav a {
    display: flex;
    flex-direction: column;
    font-size: 25px;
    width: 500px;
    margin-left: -98px;
    align-items: center;
  }
  .navegation-2 {
    display: block;
    height: -100px;
    margin-top: 150px;
  }
  .fotografías-1 {
    margin-top: 130px;
    margin-left: 35px;
    font-size: xxx-large;
  }
  .albumes {
    margin-left: -59px;
  }
  .foto-der {
    align-self: flex-start;
  }
  .titulos {
    margin-bottom: -35px;
  }
  #footer-2 {
    display: flex;
    flex-direction: column;
    margin-bottom: -2500px;
    height: 1000px;
  }
  .direccion {
    text-align: center;
    margin-top: 30px;
  }
  .maps {
    margin: 6px;
    margin-top: 10px;
  }
  .redes-sociales {
    margin: 7px;
  }
  .newsletter {
    margin: -25px;
    text-align: center;
  }
  .copyright {
    margin: 170px;
    color: #ffffff;
  }
}
/* Estilos del álbum MODA que se encuentra dentro del html Fotografías*/
#fondo-5 {
  background-color: #ffffff;
}

#grid-2 {
  display: grid;
  grid-template-areas: "nav header header" "nav section section" "nav section section" "footer footer footer";
  grid-template-columns: 200px auto 15%;
  grid-template-rows: 100px 1fr 1fr 100px;
  height: 200vh;
}

nav.navegation-3 {
  grid-area: nav;
  margin: 50px;
  width: 80%;
}

.columnas {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 16px;
  margin-top: 100px;
}

.header {
  grid-area: header;
  font-family: "Quicksand-Regular";
  font-size: xx-large;
  text-align: center;
  padding: 100px;
  padding-left: 10px;
}

section {
  grid-area: section;
  align-items: center;
}

.foto-1 img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  padding-left: 10px;
}

footer.footer {
  grid-area: footer;
}

#footer-5 {
  grid-area: footer;
  height: 400px;
  line-height: 50px;
  background: #3957b2;
  text-align: left;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  margin: 0px 0px -1800px 0px;
}

/* Dimensión del Samsung Galaxy S20 Ultra en el html Moda */
@media screen and (max-width: 412px) {
  nav a {
    display: flex;
    flex-direction: column;
    font-size: 25px;
    width: 500px;
    margin-left: -98px;
    align-items: center;
  }
  .header {
    display: flex;
    flex-direction: column;
    margin-left: -100px;
    margin-top: 850px;
  }
  .navegation-3 {
    display: flex;
    flex-direction: column;
    padding: 100px 0px;
  }
  .columnas {
    display: flex;
    flex-direction: column;
    margin-top: 950px;
    margin-left: -205px;
  }
  #footer-5 {
    display: flex;
    flex-direction: column;
    margin-bottom: -8900px;
    height: 1000px;
  }
  .direccion {
    text-align: center;
    margin-top: 30px;
  }
  .maps {
    margin: 6px;
    margin-top: 10px;
  }
  .redes-sociales {
    margin: 7px;
  }
  .newsletter {
    margin: -25px;
    text-align: center;
  }
  .copyright {
    margin: 170px;
    color: #ffffff;
  }
}
/* Estilos de Sobre Mi */
.sobre-mi {
  text-align: center;
  font-family: "Quicksand-Regular";
  font-size: 60px;
  margin: -600px 500px 0px;
}

.sobre-mi-2 {
  text-align: center;
  font-family: "Quicksand-Regular";
  font-size: 25px;
  width: 800px;
  text-align: center;
  margin: 60px 285px 0px;
}

#footer-3 {
  height: 410px;
  line-height: 50px;
  background: #3957b2;
  text-align: left;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  margin: 0px 0px -410px 0px;
}

/* Estilos de Contacto */
.contacto {
  text-align: center;
  font-family: "Quicksand-Regular";
  font-size: 60px;
  margin: -600px 500px 0px;
}

.contacto-2 {
  font-family: "Quicksand-Regular";
  font-size: 25px;
  width: 800px;
  text-align: center;
  margin: 70px 285px 0px;
}

.contacto-3 {
  justify-content: center;
  display: flex;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 100px;
}

#formulario {
  font-family: "Quicksand-Regular";
  display: flex;
  justify-content: end;
  background-image: linear-gradient(#ffffff, #3957b2);
  margin-left: 270px;
}

.formul {
  font-family: "Quicksand-Regular";
  margin-bottom: 20px;
  text-align: center;
}

#footer-4 {
  height: 400px;
  width: 1500px;
  line-height: 50px;
  position: relative;
  margin-top: 50px;
  margin-bottom: -100px;
  margin-left: -50px;
  background: #3957b2;
}

/*# sourceMappingURL=styles.css.map */
