.moonlight {
    width: 100px;
    
    &:hover {
        transition: all 2s;
        width: 125px;
    }

    transition: all 2s;
    width: 100px;
}


nav a {
    text-decoration: none;
    color: black;
}

nav li {
    display: inline-block;
    background-color: white;
    text-align: left;
    width: 90px;

    &:hover {
        background-color:rgb(154, 178, 244);
        transition: all 1s;
        width: 150px;
    }
}

ul {
    list-style-type: none;
    font-family: 'Quicksand-Regular';
    font-size: large;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 500px;
}

nav.navegation {
    width: 12%;
    grid-area: nav;
}